---
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on
    <Social platform="github" username="xiaofandev" />
    <Social platform="twitter" username="TechFrankXiao" />
    <Social platform="twitter" username="frank-xiao-dev" />
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
